asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Django==3.2.4
django-next-prev==1.1.0
gTTS==2.2.3
idna==2.10
importlib-metadata==4.5.0
mpg123==0.4
pydub==0.25.1
pyglet==1.5.18
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.5
zipp==3.4.1
